#header {
  align-items: center;
  background-color: #FFA149;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header a {
  color: #262626;
  text-decoration: none;
}

nav {
  align-items: center;
  display: flex;
}

nav a {
  padding: 10px;
}
