.header {
  align-items: flex-end;
  background-color: rgb(75, 116, 116);
  color: white;
  display: flex;
  flex-direction: column;
  height: 105px;
  padding: 0 40px;
}

.first-line {
  align-items: flex-end;
  background-color: rgb(75, 116, 116);
  color: white;
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.links {
  display: flexbox;
  justify-content: space-between;
  padding: 5px;
}

.links a {
  align-items: flex-start;
  color: white;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}

.name {
  margin-right: 23px;
  margin-top: 0;
}
