.album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.albumFav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 35%;
  width: 30%;
}

.album img {
  height: 200px;
  width: 200px;
}

.album .title-text {
  color: rgb(75, 116, 116);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 5px;
  text-align: center;
}

.album .title-text p {
  margin-top: 0;
}

.album .title-text h2 {
  margin-bottom: 5px;
}

.soundAlbum {
  display: flex;
  flex-direction: column;
}
