.form-edit {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}

.form-edit input {
  width: 70%;
}

.form-edit textarea, button {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 72%;
}

.form-edit button {
  background-color: rgb(75, 116, 116);
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgb(167, 202, 202);
  color: white;
  height: 30px;
  margin-top: 20px;
}
