@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

body {
  margin: 0;
  background-color: #784475;
  font-family: 'JetBrains Mono', monospace;
}

h1, h2, h2, p {
  color: #262626;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
